
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;

}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

/* Estilo de la imagen */
.product-header img {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
    flex: 1;
}

/* Información del producto */
.product-info {
    flex: 2;
    padding-left: 20px;
}

.product-info h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #333;
}

.product-info .price {
    font-size: 1.2rem;
    color: #232e28;
    margin-bottom: 20px;
}

.tallaje p {
    font-size: 1.1rem;
    margin: 5px 0;
    text-align: start;
    color: #000000;
}

        /* Opciones de color y talla */
        .options {
            margin-top: 20px;
        }

        .color-size-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }

        .color-size-row p {
            font-weight: bold;
            color: #333;
            margin-right: 20px;
        }

        .color-options,
        .size-options {
            display: flex;
            align-items: center;
        }

        .color-option,
        .size-option {
            display: inline-block;
            margin-right: 10px;
        }

        .color-option input[type="radio"],
        .size-option input[type="radio"] {
            display: none;
        }

        .color-option label span {
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            cursor: pointer;
        }

        .size-option label {
            padding: 5px 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }

        .size-option input[type="radio"]:checked + label {
            background-color: #333;
            color: white;
            border-color: #333;
        }

/* Descripción del producto */
.product-description {
    text-align: start;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 1.2rem;
    color: #666;
    margin-top: 50px;
    width: 100%;
}

.product-description h3, .about-product h3 {
    color: #000000;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 0;
}

/* Detalles del producto */
.about-product {
    margin-top: 30px;
    padding: 20px;
}

.about-product ul {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.8;
}

.about-product ul li {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 10px;
}




/* Adaptación para dispositivos móviles */
@media (max-width: 768px) {
    .product-header {
        flex-direction: column;
    }

    .product-info {
        padding-left: 0;
        margin-top: 20px;
    }

    .product-info h1 {
        font-size: 2rem;
        text-align: center;
    }

    .product-info .price {
        text-align: center;
        margin-bottom: 20px;
    }

    .color-options,
    .size-options {
        justify-content: center;
    }

    .product-description {
        font-size: 1.1rem;
    }

    /* Alertas */
    .add-to-cart-btn {
        font-size: 1.2rem;
        padding: 8px 12px;
    }

    .custom-alert {
        font-size: small;
    }
}


/* Botón de "Añadir al carrito" */
.add-to-cart-btn {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    color: #918d83;
}



/* Alerta personalizada */
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    z-index: 3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.custom-alert.show {
    opacity: 1;
    transform: translate(-50%, -40%);
}

.hidden {
    display: none;
}

.descuento-container{
    background-color: black;
    text-align: center;
    font-size: 19px;
    color:white;
    padding: 10px;
  margin-bottom: 20px;
  }
  
  .descuento-container marquee{
    margin: 0;
    line-height: 1.5;
    
    font-weight: bold;
    font-style: italic;
  }




  