<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../IMG/VRS2.png" type="image/x-icon">
    <!-- CSS generales -->
    <link rel="stylesheet" href="../CSS/navbar.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <!-- CSS de la página -->
    <link rel="stylesheet" href="../CSS/policies.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Terminos y condiciones</title>
</head>
<body>
    
 <!-- Barra de navegación -->
 <nav class="menu-container">
    <!-- Burger menu -->
    <input type="checkbox" aria-label="Toggle menu" />
    <span></span>
    <span></span>
    <span></span>

    <!-- Logo -->
    <a href="../load.php" class="menu-logo">
        <img src="../../View/IMG/VRS2.png" alt="Varosies" width="50px" />
    </a>

    <!-- Enlaces -->
    <div class="menu">
        <ul>
            <li><a href="../load.php"> Home </a></li>
            <li><a href="../../Controller/collections.php"> Coleccion </a></li>
            <li><a href="../contactanos.php"> Contactanos </a></li>
        </ul>
        <!-- Iconos enlaces -->
        <ul>
            <li><a href="../../Controller/wishlist.php"><i class="bi bi-search-heart"></i></a></li>
            <li><a href="../../Controller/carrito.php"><i class="bi bi-bag"></i></a></li>
            <li><a href="../Controller/register.php" target="_blank"><i class="bi bi-person-circle"></i></a></li>
        </ul>
    </div>
</nav>

<!-- Terminos y condiciones -->
<div class="content">
    <h1>POLÍTICA DE COOKIES</h1>
    <h2>¿Qué es una cookie?</h2>
    <p>Las cookies son ficheros que se descargan en el equipo o dispositivo (ordenador/smartphone/tablet) del usuario al acceder a determinadas páginas web y que se almacenan en la memoria del mismo. Las cookies permiten, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación del usuario o de su equipo, ver qué páginas se visitan, el tiempo de conexión, analizar el funcionamiento de una página, si existen problemas técnicos, etc.</p>

    <h2>¿Qué tipos de cookies existen?</h2>
    <p>Existen varios tipos de cookies en función de distintos criterios:</p>
    <p><strong>En función de la titularidad:</strong></p>
    <ul>
        <li>Cookies propias. Son las que pertenecen a varosistore.es</li>
        <li>Cookies de terceros. Son aquellas cuya titularidad es de un tercero, distinto de varosistore.es, que será quien trate la información recabada.</li>
    </ul>
    <p><strong>En función de su finalidad:</strong></p>
    <ul>
        <li>Cookies técnicas y/o de personalización. Son aquéllas que sirven para mejorar el servicio, localizar incidencias, reconocer al usuario, etc.</li>
        <li>Cookies de análisis y/o de publicidad. Son aquéllas que sirven para analizar información sobre la navegación y ofrecer publicidad, sea genérica o personalizada.</li>
    </ul>

    <h2>¿Para qué sirve una cookie?</h2>
    <p>Las cookies se utilizan para poder ofrecer al usuario servicios y/o publicidad personalizados, para analizar el funcionamiento del sistema, reconocerle cuando accede como usuario, localizar incidencias y problemas que puedan surgir y solventarlos en el menor plazo posible, así como analizar y medir el uso y actividad de la página web.</p>
    <p>varosistore.es mediante el uso de cookies no recoge dato personal alguno.</p>

    <h2>¿Se necesita el consentimiento del usuario para instalar las cookies?</h2>
    <p>No se precisa el consentimiento del usuario para la instalación de cookies técnicas o las que sean estrictamente necesarias para la prestación de un servicio de la sociedad de la información expresamente solicitado por el destinatario.</p>
    <p>Para el resto, sí se precisa del consentimiento del interesado que se puede solicitar por distintas vías. En el caso de varosistore.es se entenderá otorgado si el usuario sigue navegando en el sitio web, sin perjuicio de que en cualquier momento podrá revocarlo y desactivar las cookies.</p>

    <h2>¿Qué cookies se utilizan en varosistore.es?</h2>
    <p>Nuestras Cookies nos ayudan:</p>
    <ul>
        <li>a que nuestro sitio web funcione como usted espera</li>
        <li>a recordar su configuración durante las visitas</li>
        <li>a mejorar la velocidad y seguridad del sitio</li>
        <li>a mejorar continuamente nuestro sitio web para usted</li>
    </ul>
    <p>No utilizamos Cookies para:</p>
    <ul>
        <li>recopilar información de identificación personal (sin su consentimiento expreso)</li>
        <li>recopilar información confidencial (sin su consentimiento expreso)</li>
        <li>ceder bases de datos a redes de publicidad</li>
        <li>transmitir datos de identificación personal a terceros</li>
        <li>pagar comisiones de ventas</li>
    </ul>
    <p>Esta página web utiliza las cookies para una serie de finalidades, incluidas:</p>
    <h3>Cookies propias</h3>
    <p>Cookies de sesión, de identificación, de configuración y de registro, estrictamente necesarias para la identificación del usuario y para la prestación de los servicios solicitados por el usuario. La información obtenida a través de las mismas es tratada únicamente por varosistore.es</p>
    <p>Estas cookies las utilizamos para garantizar que los usuarios que escriban comentarios en el blog sean humanos y no aplicaciones automatizadas. De esta forma se combate el spam.</p>

    <h3>Cookies de terceros</h3>
    <p>El sitio web varosistore.es puede utilizar servicios de terceros que, por cuenta de varosistore.es, recopilaran información con fines estadísticos, sobre el uso del sitio web por parte del usuario y para la prestación de otros servicios relacionados con la actividad del sitio web y otros servicios de Internet.</p>
    <p><strong>Google Analytics</strong></p>
    <p>En particular, este sitio web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc. con domicilio en los Estados Unidos con sede central en 1600 Amphitheatre Parkway, Mountain View, California 94043. Para la prestación de estos servicios, estos utilizan cookies que recopilan la información, incluida la dirección IP del usuario, que será transmitida, tratada y almacenada por Google en los términos fijados en la web Google.com, incluyendo la posible transmisión de dicha información a terceros por razones de exigencia legal o cuando dichos terceros procesen la información por cuenta de Google.</p>
    <p><strong>Facebook Ads</strong></p>
    <p>En esta web también se utiliza Facebook Ads, la plataforma de publicidad de Facebook, que me permite crear campañas y anuncios. Al generar un anuncio, se puede segmentar el público por:</p>
    <ul>
        <li>Datos demográficos (edad, sexo, etc.).</li>
        <li>Intereses (actividades, aficiones, etc.).</li>
        <li>Lo que compran en internet y por otros canales.</li>
    </ul>
    <p>Los datos obtenidos a través de Facebook Ads están sujetos a esta política de privacidad desde el momento en que el usuario deja sus datos en el formulario de esta web para unirse al boletín de suscripciones. En ningún caso se utilizará la información procedente de Facebook con una finalidad diferente.</p>

    <h3>Redes sociales</h3>
    <p>Cada red social utiliza sus propias cookies para que usted pueda pinchar en botones del tipo Me gusta o Compartir.</p>

    <h2>Cookies establecidas para este sitio</h2>
    <p>El detalle de las cookies utilizadas en esta página web es el siguiente:</p>
    <h3>Necesarias</h3>
    <p>Las cookies necesarias ayudan a hacer una página web utilizable activando funciones básicas como la navegación en la página y el acceso a áreas seguras de la página web. La página web no puede funcionar adecuadamente sin estas cookies.</p>

    <h3>Preferencias</h3>
    <p>Las cookies de preferencias permiten a la página web recordar información que cambia la forma en que la página se comporta o el aspecto que tiene, como su idioma preferido o la región en la que usted se encuentra.</p>

    <h3>Estadísticas</h3>
    <p>Las cookies estadísticas ayudan a los propietarios de páginas web a comprender cómo interactúan los visitantes con las páginas web reuniendo y proporcionando información de forma anónima.</p>

    <h3>Marketing</h3>
    <p>Las cookies de marketing se utilizan para rastrear a los visitantes en las páginas web. La intención es mostrar anuncios relevantes y atractivos para el usuario individual, y por lo tanto, más valiosos para los editores y terceros anunciantes.</p>
    <p>Esta información se actualizará en la medida que cambien los servicios ofrecidos en este sitio web.</p>
    <p><strong>Nota:</strong> Las cookies de tipo 'Propias' son utilizadas sólo por el propietario de esta web y las cookies 'De terceros' son utilizadas, por el prestador del servicio que está detallado en el cuadro anterior.</p>

    <h2>Aceptación de las cookies</h2>
    <p>El titular del sitio web varosistore.es asume que usted acepta el uso de cookies. El usuario acepta expresamente, por la utilización de este sitio web, el tratamiento de la información recabada en la forma y con los fines anteriormente mencionados. Y asimismo reconoce conocer la posibilidad de rechazar el tratamiento de tales datos o información rechazando el uso de cookies mediante la selección de la configuración apropiada a tal fin en su navegador. Si bien esta opción de bloqueo de cookies en su navegador puede no permitirle el uso pleno de todas las funcionalidades del sitio web.</p>
    <p>No obstante, mostramos información sobre nuestra Política de Cookies del sitio web con cada inicio de sesión con el objeto de que usted sea consciente. Ante esta información es posible llevar a cabo las siguientes acciones:</p>
    <ul>
        <li>Puede aceptar todas las cookies pulsando el botón “Aceptar”.</li>
        <li>Puede configurar las cookies o rechazar su uso pulsando el botón “Configurar”.</li>
        <li>Puede cerrar la página si no está de acuerdo con el uso de las cookies indicadas.</li>
    </ul>

    <h2>Revocación del consentimiento para instalar Cookies y administración de las cookies</h2>
    <p>En todo momento podrá acceder a la configuración de su navegador aceptando o rechazando todas las cookies, o bien seleccionar aquéllas cuya instalación admite y cuáles no, siguiendo uno de los siguientes procedimientos, que depende del navegador que utilice.</p>
    <p>Puede permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador.</p>
    <ul>
        <li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias" target="_blank">Puede obtener más información sobre el navegador Firefox desde aquí</a></li>
        <li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Puede obtener más información sobre el navegador Google Chrome desde aquí</a></li>
        <li><a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Puede obtener más información sobre el navegador Internet Explorer desde aquí</a></li>
        <li><a href="https://www.apple.com/legal/privacy/en-ww/cookies" target="_blank">Puede obtener más información sobre el navegador Safari desde aquí</a></li>
        <li><a href="https://help.opera.com/en/latest/security-and-privacy/#clearBrows" target="_blank">Puede obtener más información sobre el navegador Opera desde aquí</a></li>
    </ul>
    <p>Estos navegadores están sometidos a actualizaciones o modificaciones, por lo que no podemos garantizar que se ajusten completamente a la versión de su navegador. Para evitar estos desajustes, puede acceder directamente desde las opciones de su navegador, generalmente en el menú de "Opciones" en la sección de "Privacidad".</p>

    <h3>Otros navegadores</h3>
    <p>Consulte la documentación del navegador que tenga instalado.</p>

    <h3>Complemento de inhabilitación para navegadores de Google Analytics</h3>
    <p>Si desea rechazar las cookies analíticas de Google Analytics en todos los navegadores, de forma que no se envíe información suya a Google Analytics, puede descargar un complemento que realiza esta función desde este enlace: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a></p>

    <h2>Información básica sobre el tratamiento de datos conforme al RGPD (UE) 2016/679 y a la LOPDGDD 3/2018.</h2>
    <!-- <p><strong>Responsable del tratamiento</strong></p>
    <p>Identidad: ESENZIA ENTERPRISE 2019, S.L.<br>
    I.F.: B16837858<br>
    Dirección: C/ Ciudad de Montilla Bloque 3, 1º 4 - 41008 Sevilla (España)<br>
    Teléfono: (+34) 622 13 00 17<br>
    Correo electrónico: <a href="mailto:atencionalcliente@varosistore.es">atencionalcliente@varosistore.es</a></p> -->
    
    <p><strong>Delegado de protección de datos</strong></p>
    <p>El RESPONSABLE DEL TRATAMIENTO no tiene Delegado de Protección de Datos.</p>

    <p><strong>Finalidad de tratamiento</strong></p>
    <p>Mantener una relación comercial con el usuario. Las operaciones previstas para realizar el tratamiento son:</p>
    <ul>
        <li>Contactar con los interesados y responder a sus consultas. Enviar comunicaciones comerciales sobre nuestros artículos y/o productos que consideremos puedan ser de su interés mediante carta, teléfono, correo electrónico, SMS/MMS, Whatsapp, Telegram o por otros medios de comunicación electrónica equivalentes, siempre y cuando el interesado haya consentido el tratamiento de sus datos personales para esta finalidad. Estas comunicaciones serán realizadas por el RESPONSABLE DEL TRATAMIENTO y relacionadas sobre sus artículos y/o productos, o de sus colaboradores o proveedores con los que éste haya alcanzado algún acuerdo de promoción. En este caso, los terceros nunca tendrán acceso a los datos personales.</li>
        <li>Realizar estudios estadísticos.</li>
        <li>Tramitar encargos, solicitudes o cualquier tipo de petición que sea realizada por el usuario a través de cualquiera de las formas de contacto que se ponen a su disposición.</li>
    </ul>

    <p><strong>Base jurídica que legitima este tratamiento</strong></p>
    <ul>
        <li>Ejecución de un contrato en el que el interesado es parte o para la aplicación a petición de este de medidas precontractuales.</li>
        <li>Interés legítimo del responsable del tratamiento.</li>
        <li>El consentimiento del interesado, que podrá retirar en cualquier momento.</li>
    </ul>

    <p><strong>¿Por cuánto tiempo conservaremos sus datos?</strong></p>
    <p>Algunas de las cookies utilizadas en este sitio web guardarán sus datos mientras usted continúe con la sesión abierta. Por otra parte los datos extraídos por cookies de terceros serán almacenados durante dos años.</p>

    <p><strong>¿A qué destinatarios se comunican sus datos?</strong></p>
    <p>No se comunicarán los datos a terceros, salvo obligación legal.</p>

    <p><strong>Transferencias a terceros países</strong></p>
    <p>No está prevista la realización de transferencias de datos a terceros países, sin un nivel de protección adecuada.</p>

    <p><strong>Qué derechos le asisten y cómo puede ejercerlos</strong></p>
    <p>El usuario puede ejercer en todo momento sus derechos de acceso, rectificación, supresión, limitación, portabilidad y oposición al tratamiento de sus datos personales, a no ser objeto de decisiones individuales automatizadas y a retirar el consentimiento para recibir comunicaciones comerciales sobre nuestros artículos y/o productos en cualquier momento, mediante comunicación por correo postal dirigida a C/ Ciudad de Montilla Bloque 3, 1º 4 - 41008 Sevilla (España) o a través de la dirección de correo electrónico <a href="mailto:atencionalcliente@varosistore.es">atencionalcliente@varosistore.es</a></p>
    <p>También tiene derecho a presentar una reclamación ante la autoridad de control competente (<a href="https://www.aepd.es" target="_blank">www.aepd.es</a>), si considera que el tratamiento no se ajusta a la normativa vigente.</p>

</div>
<div class="cookie-banner">
    <p>Este sitio web utiliza cookies para garantizar que obtenga la mejor experiencia en nuestro sitio web.</p>
    <div class="cookie-actions">
        <button class="accept">Aceptar</button>
        <button class="config">Configurar</button>
        <button class="close">Cerrar</button>
    </div>
</div>

<div class="cookie-config-modal">
    <div class="modal-content">
        <h2>Configuración de Cookies</h2>
        <label>
            <input type="checkbox" name="analytics" class="cookie-preference"> Cookies de análisis
        </label><br>
        <label>
            <input type="checkbox" name="ads" class="cookie-preference"> Cookies de publicidad
        </label>
        <div class="modal-actions">
            <button class="save-config">Guardar Configuración</button>
            <button class="close-modal">Cerrar</button>
        </div>
    </div>
</div>


                    <!-- Footer -->

                    <footer class="footer__container">
                        <h4 class="footer__title">Varosi Urban Style</h4>
                        <section class="footer__section">
                            <div class="footer__contact">
                                <p class="footer__tp">SUPPORT</p>
                                <p><a href="mailto:helpvrs@varosi.com">vrs@varosi.com</a></p>
                                <!-- <p><i class="bi bi-telephone-fill"></i> +34 611 42 40 82</p> -->
                            </div>
                            <div class="footer__politics">
                                <p class="footer__tp">POLICIES</p>
                                <p><a href="termsCondicions.html">Terms and Conditions</a></p>
                                <p><a href="devoluciones.html">Devolutions Policy</a></p>
                                <p><a href="#">Cookie Policy</a></p>
                                <p><a href="privacidad.html">Privacy Policy</a></p>
                            </div>
                            <div class="footer__social-media">
                                <a href="#"><i class="bi bi-tiktok"></i></a>
                                <a href="https://www.instagram.com/varosies/?utm_source=ig_web_button_share_sheet"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-twitter-x"></i></a>
                            </div>
                        </section>
                        <section class="footer__bottom">
                            <p>&copy; 2024 Varosi Urban Style. All rights reserved.</p>
                        </section>
                    </footer>
    
</body>
</html>

<script src="../JS/cookiesConfig.js"></script>