<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../IMG/VRS2.png" type="image/x-icon">
    <!-- CSS Generales -->
    <link rel="stylesheet" href="../CSS/navbar.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <!-- CSS Principal -->
    <link rel="stylesheet" href="../CSS/policies.css">

    <!-- Iconos Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Politica de Devoluciones</title>
</head>
<body>
    
 <!-- Barra de navegación -->
 <nav class="menu-container">
    <!-- Burger menu -->
    <input type="checkbox" aria-label="Toggle menu" />
    <span></span>
    <span></span>
    <span></span>

 <!-- Logo -->
 <a href="../load.php" class="menu-logo">
    <img src="../../View/IMG/VRS2.png" alt="Varosies" width="50px" />
</a>

<!-- Enlaces -->
<div class="menu">
    <ul>
        <li><a href="../load.php"> Home </a></li>
        <li><a href="../../Controller/collections.php"> Coleccion </a></li>
        <li><a href="../contactanos.php"> Contactanos </a></li>
    </ul>
    <!-- Iconos enlaces -->
    <ul>
        <li><a href="../../Controller/wishlist.php"><i class="bi bi-search-heart"></i></a></li>
        <li><a href="../../Controller/carrito.php"><i class="bi bi-bag"></i></a></li>
        <li><a href="../Controller/register.php" target="_blank"><i class="bi bi-person-circle"></i></a></li>
    </ul>
</div>
</nav>

<!-- Terminos y condiciones -->
<div class="content">
    <h1>Política de Devoluciones - Varosi</h1>
    <h2>Devoluciones / Cambios</h2>
    <p>Iniciar Devolución o Cambio</p>
    <p>(El proceso de devolución así como el cambio de talla de prenda puede tardar hasta 4-6 días hábiles)</p>
    <p>Sólo procederemos a una devolución o cambio si los artículos se encuentran en perfecto estado, sin uso y con sus etiquetas originales.</p>
    <p>El plazo para realizar un cambio o devolución será de 14 días naturales. Recuerda que aun no tenemos constancias de tiendas físicas.</p>
    <p>Los artículos tales como accesorios, prendas personalizadas, calcetines, así como los productos bordados pertenecientes a las categorías personalizables o de football, no serán elegibles para devolución ni cambio.</p>
    
    <h2>Cambios</h2>
    <p>El plazo para realizar un cambio o devolución será de 15 días naturales.</p>

    
    <h2>Devoluciones</h2>
    <p>Existen una unica forma de realizar la devolución, a través del canal online enviando tu pedido por mensajería.</p>
    <p>Sólo aceptaremos devoluciones de artículos que se encuentren en perfecto estado, sin usar y con las etiquetas originales.</p>
    <ul>
        <li>
            <strong>Si compraste tu pedido online:</strong> podrás realizar la devolución enviando tu pedido a nuestro almacén mediante mensajería. Para devoluciones realizadas por mensajería se aplicará un coste de envío adicional por el envío de las prendas desde tu domicilio a nuestro almacén, si por lo contrario deseas devolverlo en nuestra tienda física se emitirá una tarjeta regalo con el valor de los productos del pedido. Puedes ahorrarte estos gastos de envío realizando un cambio de prenda en lugar de una devolución. En el primer cambio de talla o producto los gastos de cambio de talla o modelo son gratuitos en la Península Ibérica.
        </li>
    </ul>
    <p>Recuerda que, en cualquier caso, el plazo máximo para realizar una devolución es de 14 días naturales desde la compra del pedido.</p>
    <p>Para devoluciones a través del canal online, los artículos comprados en Varosi deberán ser devueltos a cargo del cliente, quien deberá hacerse cargo de 5,90€ de gastos de envío para devolver el producto (sólo Península Ibérica). Los gastos de envío se descontarán del importe reembolsado al cliente por la misma plataforma de pago.</p>
    <p>Los costos de envío para procesar una devolución difieren entre diferentes regiones y países. El coste de la devolución queda de la siguiente manera dependiendo de la zona:</p>
    <ul>
        <li>Península Ibérica (España y Portugal): 5,90€.</li>
        <li>Baleares, Canarias, Ceuta y Melilla: 6,90€.</li>
        <li>Europa: (Alemania, Francia, Italia y Países Bajos): 8,90€.</li>
        <li>Reino Unido: £16,90</li>
        <li>Estados Unidos: $16,90</li>
    </ul>
    <p>Los artículos deben estar en perfectas condiciones, sin uso, libres de deterioros, manchas, olores o cualquier condición que impida su venta como nuevos. De lo contrario, no podemos continuar. Además, los artículos deben devolverse dentro de los 14 días posteriores a la recepción del envío para poder recibir un reembolso. Los artículos también deberán devolverse en su embalaje original, incluyendo todas las etiquetas y posibles elementos incluidos como parte del embalaje (pulseras, pegatinas, etc.).</p>
</div>


                    <!-- Footer -->

                    <footer class="footer__container">
                        <h4 class="footer__title">Varosi Urban Style</h4>
                        <section class="footer__section">
                            <div class="footer__contact">
                                <p class="footer__tp">SUPPORT</p>
                                <p><a href="mailto:helpvrs@varosi.com">vrs@varosi.com</a></p>
                                <!-- <p><i class="bi bi-telephone-fill"></i> +34 611 42 40 82</p> -->
                            </div>
                            <div class="footer__politics">
                                <p class="footer__tp">POLICIES</p>
                                <p><a href="termsCondicions.html">Terms and Conditions</a></p>
                                <p><a href="#">Devolutions Policy</a></p>
                                <p><a href="cookies.html">Cookie Policy</a></p>
                                <p><a href="privacidad.html">Privacy Policy</a></p>
                            </div>
                            <div class="footer__social-media">
                                <a href="#"><i class="bi bi-tiktok"></i></a>
                                <a href="https://www.instagram.com/varosies/?utm_source=ig_web_button_share_sheet"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-twitter-x"></i></a>
                            </div>
                        </section>
                        <section class="footer__bottom">
                            <p>&copy; 2024 Varosi Urban Style. All rights reserved.</p>
                        </section>
                    </footer>
    
</body>
</html>