<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../IMG/VRS2.png" type="image/x-icon">
    <!-- CSS Generales -->
    <link rel="stylesheet" href="../CSS/navbar.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <!-- CSS Principal -->
    <link rel="stylesheet" href="../CSS/policies.css">
    <!-- Bootstrap iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Terminos y condiciones</title>
</head>
<body>
    
<!-- Barra de navegación -->
<nav class="menu-container">
    <!-- Burger menu -->
    <input type="checkbox" aria-label="Toggle menu" />
    <span></span>
    <span></span>
    <span></span>

 <!-- Logo -->
 <a href="../load.php" class="menu-logo">
    <img src="../../View/IMG/VRS2.png" alt="Varosies" width="50px" />
</a>

<!-- Enlaces -->
<div class="menu">
    <ul>
        <li><a href="../load.php"> Home </a></li>
        <li><a href="../../Controller/collections.php"> Coleccion </a></li>
        <li><a href="../contactanos.php"> Contactanos </a></li>
    </ul>
    <!-- Iconos enlaces -->
    <ul>
        <li><a href="../../Controller/wishlist.php"><i class="bi bi-search-heart"></i></a></li>
        <li><a href="../../Controller/carrito.php"><i class="bi bi-bag"></i></a></li>
        <li><a href="../Controller/register.php" target="_blank"><i class="bi bi-person-circle"></i></a></li>
    </ul>
</div>
</nav>

<!-- Terminos y condiciones -->
<div class="content">

    <header>
        <h1>Términos y Condiciones de Uso - Tienda Online Varosi</h1>
    </header>
    <section>
        <h2>1. Introducción</h2>
        <p>Bienvenido a la tienda online Varosi. Los presentes términos y condiciones regulan el acceso y uso de nuestro sitio web <a href="http://www.varosi.com">www.varosi.com</a> (en adelante, "el Sitio"), así como la compra de productos ofrecidos en él. Al realizar una compra en nuestra tienda, usted acepta estos términos y condiciones en su totalidad. Lea detenidamente este documento antes de realizar cualquier compra.</p>

        <h2>2. Información Legal</h2>
        <ul>
            <li><strong>Titular:</strong> Varosi S.L.</li>
            <li><strong>Domicilio Social:</strong> Calle Ejemplo, 123, 28001, Madrid, España</li>
            <li><strong>NIF:</strong> B12345678</li>
            <li><strong>Correo Electrónico:</strong> <a href="mailto:info@varosi.com">info@varosi.com</a></li>
            <li><strong>Teléfono:</strong> <a href="tel:+34123456789">+34 123 456 789</a></li>
        </ul>

        <h2>3. Productos y Precios</h2>
        <p>Los productos ofrecidos en el Sitio están disponibles para su compra sin necesidad de registro previo. Nos esforzamos por mostrar la información más precisa y actualizada sobre precios, características y disponibilidad de los productos. No obstante, podrían existir errores u omisiones involuntarios, por lo que nos reservamos el derecho de corregirlos en cualquier momento.</p>

        <h2>4. Proceso de Compra</h2>
        <p>Para realizar una compra, seleccione el producto deseado, añádalo a su carrito de compras y siga los pasos indicados para completar la transacción. Una vez finalizada la compra, recibirá un correo electrónico de confirmación con los detalles del pedido. Nos reservamos el derecho de rechazar o cancelar pedidos en casos excepcionales, como errores en los precios o problemas de disponibilidad.</p>

        <h2>5. Envíos y Entregas</h2>
        <p>Los productos serán enviados a la dirección indicada por el cliente durante el proceso de compra. Los plazos de entrega pueden variar según la ubicación y la disponibilidad del producto. Nos comprometemos a informarle sobre cualquier demora que pueda surgir. Los gastos de envío se detallarán durante el proceso de compra y podrían variar según el destino y el peso del paquete.</p>

        <h2>6. Devoluciones y Garantías</h2>
        <p>Aceptamos devoluciones de productos en un plazo de 14 días naturales desde la recepción del pedido, siempre que el producto se encuentre en su estado original y con su embalaje intacto. Para gestionar una devolución, por favor contáctenos a través de nuestro correo electrónico o teléfono de atención al cliente. Ofrecemos la garantía legal de conformidad de 2 años desde la entrega del producto. En caso de defectos o averías, le proporcionaremos soluciones como reparación, sustitución o devolución del importe pagado.</p>

        <h2>7. Protección de Datos Personales</h2>
        <p>El tratamiento de sus datos personales se realizará de acuerdo con nuestra <a href="http://www.varosi.com/politica-de-privacidad">Política de Privacidad</a>. Al realizar una compra, usted consiente el tratamiento de sus datos personales de acuerdo con nuestra Política de Privacidad.</p>

        <h2>8. Acontecimientos fuera de nuestro control</h2>
        <p>No seremos responsables por ningún incumplimiento o retraso en el cumplimiento de alguna de las obligaciones asumidas, cuando el mismo se deba a acontecimientos que están fuera de nuestro control razonable («Causa de Fuerza Mayor»).</p>
        <p>Las Causas de Fuerza Mayor incluirán cualquier acto, acontecimiento, falta de ejercicio, omisión o accidente que esté fuera de nuestro control razonable y entre otros, los siguientes:</p>
        <ul>
            <li>Huelgas, cierres patronales u otras medidas reivindicativas.</li>
            <li>Conmoción civil, revuelta, invasión, amenaza o ataque terrorista, guerra (declarada o no) o amenaza o preparativos de guerra.</li>
            <li>Incendio, explosión, tormenta, inundación, terremoto, hundimiento, epidemia, pandemia o cualquier otro desastre natural.</li>
            <li>Imposibilidad de uso de trenes, barcos, aviones, transportes de motor u otros medios de transporte, públicos o privados.</li>
            <li>Imposibilidad de utilizar sistemas públicos o privados de telecomunicaciones.</li>
            <li>Actos, decretos, legislación, normativa o restricciones de cualquier gobierno o autoridad pública.</li>
        </ul>
        <p>Se entenderá que las obligaciones quedarán suspendidas durante el período en que la Causa de Fuerza Mayor continúe, y dispondremos de una ampliación en el plazo para cumplir dichas obligaciones por un periodo de tiempo igual al que dure la Causa de Fuerza Mayor. Pondremos todos los medios razonables para que finalice la Causa de Fuerza Mayor o para encontrar una solución que nos permita cumplir nuestras obligaciones a pesar de la Causa de Fuerza Mayor.</p>


        <h2>9. Modificaciones</h2>
        <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán efectivas desde su publicación en el Sitio. Le recomendamos revisar periódicamente estos términos y condiciones para estar al tanto de cualquier cambio.</p>
        
        <h2>10 Jurisdicción</h2>
<p>
    Estas Condiciones Generales se rigen por la ley española. Las partes se someten, a su elección, para la resolución de los conflictos y con renuncia a cualquier otro fuero, a los jueces y tribunales del domicilio del CONSUMIDOR.
    Además le recordamos que puede acceder a la plataforma de resolución de litigios en línea de la Unión Europea siguiendo este enlace: <a href="https://ec.europa.eu/consumers/odr/main/?event=main.home2.show.">https://ec.europa.eu/consumers/odr/main/?event=main.home2.show.</a> 
    Si cualquier cláusula incluida en las presentes Condiciones Generales fuese declarada total o parcialmente nula o ineficaz, tal nulidad o ineficacia tan sólo afectará a dicha disposición o a la parte de la misma que resulte nula o ineficaz, subsistiendo las presentes Condiciones Generales en todo lo demás y considerándose tal disposición total o parcialmente por no incluida.
    Del mismo modo, las presentes condiciones resultan sujetas a cualquier otra disposición, reglamento o ley que le resulte directa o indirectamente de aplicación.</p>
        <h2>Contacto</h2>
        <p>Para cualquier consulta o comentario sobre estos términos y condiciones, por favor contáctenos a través de los medios de contacto proporcionados.</p>
    </section>
</div>



                    <!-- Footer -->

                    <footer class="footer__container">
                        <h4 class="footer__title">Varosi Urban Style</h4>
                        <section class="footer__section">
                            <div class="footer__contact">
                                <p class="footer__tp">SUPPORT</p>
                                <p><a href="mailto:helpvrs@varosi.com">vrs@varosi.com</a></p>
                                <!-- <p><i class="bi bi-telephone-fill"></i> +34 611 42 40 82</p> -->
                            </div>
                            <div class="footer__politics">
                                <p class="footer__tp">POLICIES</p>
                                <p><a href="#">Terms and Conditions</a></p>
                                <p><a href="devoluciones.html">Devolutions Policy</a></p>
                                <p><a href="cookies.html">Cookie Policy</a></p>
                                <p><a href="privacidad.html">Privacy Policy</a></p>
                            </div>
                            <div class="footer__social-media">
                                <a href="#"><i class="bi bi-tiktok"></i></a>
                                <a href="https://www.instagram.com/varosies/?utm_source=ig_web_button_share_sheet"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-twitter-x"></i></a>
                            </div>
                        </section>
                        <section class="footer__bottom">
                            <p>&copy; 2024 Varosi Urban Style. All rights reserved.</p>
                        </section>
                    </footer>
    
</body>
</html>